DB_VENDOR=POSTGRES
DB_ADDR=postgres
DB_PORT=5432
DB_DATABASE=keycloak_db
DB_USER=keycloak_user
DB_PASSWORD=/run/secrets/db-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=/run/secrets/keycloak-adm
